@use '/src/styles/constants/colors';

.dropDown {
  display: flex;
  align-items: center;

  label {
    width: 70px;
    margin-right: 28px;
  }

  &.black {
    label {
      display: inline-block;
      margin-bottom: 7px;
      color: colors.$APP_INNER;
    }
  }

  &.white {
    label {
      display: inline-block;
      margin-bottom: 7px;
      color: colors.$WHITE;
    }
  }

  &.display {
    display: block;
  }
}
