@use '/src/styles/constants/colors';

.dropDown {
  display: flex;
  align-items: center;

  &.black {
    label {
      display: inline-block;
      margin-bottom: 7px;
      color: colors.$APP_INNER;
    }
  }

  &.display {
    display: block;
  }

  label {
    margin-right: 28px;
    color: colors.$WHITE2;
  }
}
