@use '/src/styles/constants/colors';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .current {
    width: 50px;
    height: 40px;
    margin: 0 10px;
    line-height: 40px;
    text-align: center;
    border: 1px solid colors.$BLUE;
    border-radius: 8px;
  }

  .total {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
  }

  button {
    margin: 0;
    font-size: 16px;
    color: colors.$WHITE;
    border: none;
    border-radius: 8px;
    opacity: 0.8;

    svg {
      width: 40px;
      height: 40px;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &[disabled] {
      cursor: revert;
      opacity: 0.5;
    }

    &[aria-current] {
      font-weight: bold;
      cursor: revert;
      background: deeppink;
    }
  }
}