@use '/src/styles/constants/colors';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  background-color: #f6f6f6;

  .container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: colors.$APP_BACKGROUND;
    box-shadow: rgba(100, 100, 111, 20%) 0 7px 29px 0;
  }

  @media (min-width: 650px) {
    .container {
      width: 640px;
    }
  }

  @media (max-width: 650px) {
    .container {
      width: 100%;
    }
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: colors.$WHITE;

  .loadingIcon {
    width: 150px;
    height: 150px;
  }
}