@use '/src/styles/constants/colors';

.primaryBtn {
  width: 100px;
  padding: 10px;
  color: colors.$WHITE;
  background-color: colors.$HIGHLIGHT_ORANGE;
  border-radius: 8px;

  &.full {
    width: 100%;
    font-size: 16px;
  }
}
