@use '/src/styles/constants/colors';

.dropDownBox {
  position: relative;
  display: flex;
  align-items: center;

  .current {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    color: colors.$INPUT_LABEL;
    text-align: left;
    border: 1px solid colors.$SELECT_BORDER;
    border-radius: 8px;
  }

  .list {
    position: absolute;
    z-index: 9;
    width: 100%;
    max-height: 120px;
    padding: 10px 0;
    margin-top: 10px;
    overflow-y: auto;
    background-color: colors.$WHITE;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 5%) 0 6px 24px 0, rgba(0, 0, 0, 8%) 0 0 0 1px;

    button {
      width: 100%;
      height: 35px;
      padding: 0 20px;
      color: colors.$MODAL_TEXT_2;
      text-align: left;
      border-radius: 6px;
    }

    li {
      padding: 0 7px;

      &:hover {
        button {
          font-weight: 600;
          color: colors.$GRAY3;
          background-color: colors.$SELECT_HOVER_BG;
        }
      }

      &.isActive {
        button {
          color: colors.$GRAY3;
          background-color: colors.$GRAY4;
        }
      }
    }
  }

  .arrowDownIcon {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 15px;
    height: 15px;
    fill: colors.$SELECT_ARROW;
    transform: translateY(-50%);
    transform-origin: top;
  }

  &.isActive {
    display: block;

    .current {
      border: none;
      box-shadow: colors.$HIGHLIGHT_PURPLE 0 1px 2px 0, colors.$HIGHLIGHT_PURPLE 0 0 0 1px;
    }

    svg {
      fill: colors.$MODAL_TEXT_2;
      transform: scale(-1) translateY(-50%);
    }
  }
}
