@use '/src/styles/constants/colors';
@use '/src/styles/mixins/typography';

.board {
  .tableHeader {
    display: flex;
    justify-content: space-between;
    width: 84%;
    padding: 10px;
    padding-bottom: 15px;
    font-size: 12px;
    color: colors.$GRAYA;
  }

  .tableItemList {
    max-height: 522px;
    overflow: auto;
  }
}
