// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

$BACKGROUND: #fde4d0;
$APP_BACKGROUND: #292340;
$APP_INNER: #292340;
$SHADOW: #f2cbaf;
$DIVISION_LINE: #403959;

$BG_WHITE: #fffefd;

$LOGO_TITLE: #87ceeb;

$WHITE2: #ebebeb;
$WHITE3: #a9a3bf;

$LIGHT_ORANGE: #f2c9bb;
$LAVENDER: #ddcef5;
$GNB_TEXT: #bfbfcd;

$MODAL_BTN_BG: #f3f3f4;
$MODAL_TEXT_2: #8a8a8a;
$HIGHLIGHT_ORANGE: #fd7b38;
$HIGHLIGHT_PURPLE: #8b89d9;
$HIGHLIGHT_PURPLE2: #6662d9;
$INPUT_BG: #f2f2f4;

$GRAY4: #f2f4f7;
$SELECT_BORDER: #c5bebe;
$SELECT_HOVER_BG: #f8fafb;
$SELECT_ARROW: #adabab;
$SELECT_ARROW_ACTIVE: #adabab;
$INPUT_LABEL: #6d6d6d;
$INPUT_TEXT: #8a8a8a;
$SEARCH_ITEM_BG: #77728c;
$MARK_TEXT: #a69823;
