@use '/src/styles/constants/colors';

.layout {
  position: absolute;
  top: 86px;
  bottom: 60px;
  width: 100%;
  height: calc(100% - 86px);
  padding: 0 30px 25px;
  overflow: auto;
  background: colors.$BG_WHITE;
}