@use '/src/styles/constants/colors';
@use '/src/styles/mixins/typography';

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid colors.$GRAYE;

  button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: left;

    .left {
      width: 93%;

      .top {
        display: flex;
        align-items: center;
        margin-bottom: 7px;

        .like {
          width: 16px;
          height: 16px;
          margin-left: 20px;
          fill: #9e9ea7;

          &.fill {
            fill: colors.$PINK;
          }
        }
      }

      .title {
        width: 85%;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
        color: colors.$GRAY3;
        text-align: left;
        @include typography.lineClamp(1, 28);
      }

      .category {
        display: inline-block;
        padding: 3px 5px;
        font-size: 14px;
        border-radius: 5px;

        &.blue {
          color: colors.$TEXT_BLUE;
          background: colors.$BG_BLUE;
        }

        &.orange {
          color: colors.$TEXT_ORANGE;
          background: colors.$BG_ORANGE;
        }

        &.green {
          color: colors.$TEXT_GREEN;
          background: colors.$BG_GREEN;
        }

        &.pink {
          color: colors.$TEXT_PINK;
          background: colors.$BG_PINK;
        }

        &.red {
          color: colors.$TEXT_RED;
          background: colors.$BG_RED;
        }

        &.purple {
          color: colors.$TEXT_PURPLE;
          background: colors.$BG_PURPLE;
        }

        &.yellow {
          color: colors.$TEXT_YELLOW;
          background: colors.$BG_YELLOW;
        }
      }
    }

    span {
      font-size: 14px;
      color: colors.$WHITE3;

      &.date {
        width: 100%;
      }
    }

    .code {
      width: 7%;
      font-size: 16px;
    }
  }

  a[download] {
    width: 20%;
    width: 36px;
    height: 36px;
    padding: 8px;
    margin-left: 20px;
  }
}
