@use '/src/styles/constants/colors';

.filter {
  .label {
    // width: 80px;
    margin-bottom: 7px;
    color: colors.$INPUT_LABEL;
  }

  .radioBox {
    display: flex;
    flex: 1;
    height: 45px;
    padding: 5px;
    background: colors.$INPUT_BG;
    border-radius: 8px;

    li {
      position: relative;
      width: 33.33%;
      height: 100%;
      color: colors.$WHITE3;
      text-align: center;
    }

    label {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 35px;
      cursor: pointer;
      border-radius: 6px;
    }

    input[type='radio'] {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      visibility: hidden;

      &:checked + label {
        font-weight: 600;
        color: colors.$GRAY3;
        background-color: colors.$WHITE;
      }
    }
  }
}
