@use '/src/styles/constants/colors';
@use '/src/styles/mixins/typography';

.resultItem {
  .titleArea {
    overflow-x: hidden;
    color: colors.$WHITE;
  }

  + .resultItem {
    .titleArea {
      padding-top: 20px;
      margin-top: 10px;
      border-top: 1px solid colors.$GRAYA;
    }
  }

  .title {
    padding-bottom: 10px;
    font-size: 13px;
    color: colors.$TASKS_TITLE;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
  }

  .item {
    width: 50%;
    padding-right: 40px;
    margin-bottom: 40px;
    border-radius: 8px;

    button {
      all: initial;
      width: 100%;
      color: colors.$GRAY4;
    }

    .imageWrap {
      position: relative;
      padding-top: 100%;
      overflow: hidden;
      background: colors.$WHITE;
      border-radius: 8px;

      .image {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
      }
    }

    .text {
      margin-top: 10px;
    }

    &Title {
      font-size: 16px;
      @include typography.lineClamp(1, 26);
    }

    &Desc {
      font-size: 14px;
      @include typography.lineClamp(1, 20);
    }

    &Detail {
      padding-right: 5px;
      margin-top: 15px;
      font-size: 12px;
      color: colors.$BEIGE;
    }
  }

  mark {
    padding: 0 3px;
    color: colors.$WHITE;
    background-color: colors.$HIGHLIGHT_ORANGE;
  }
}
