@use '/src/styles/constants/colors';

.blind {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  padding: 0 25px;

  .logo {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 45px;
    color: colors.$WHITE;

    &Icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background: colors.$WHITE;
    }
  }

  .menuBtn {
    position: relative;
    display: block;
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 0;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 2px;
      content: '';
      background-color: colors.$WHITE;
      transition: transform 0.2s ease;
      transform: translate(-50%, -50%);
    }

    &::before {
      margin-top: -4px;
    }

    &::after {
      margin-top: 4px;
    }

    &.isOpen {
      &::before {
        margin: 0;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &::after {
        margin: 0;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}