.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 20%);
  backdrop-filter: blur(2px);

  .loadingIcon {
    width: 100px;
    height: 100px;
  }
}
