@use '/src/styles/constants/colors';

.search {
  position: absolute;
  top: 85px;
  bottom: 60px;
  width: 100%;
  height: calc(100% - 85px);
  padding: 0 30px 25px;
  overflow: auto;

  h2 {
    padding: 40px 0 20px;
    font-size: 28px;
    color: colors.$LOGO_TITLE;
    border-top: 1px solid colors.$DIVISION_LINE;
  }
}