@use '/src/styles/constants/colors';

.search {
  padding: 85px 30px;

  h2 {
    padding: 40px 0 20px;
    font-size: 28px;
    color: colors.$LOGO_TITLE;
    border-top: 1px solid colors.$DIVISION_LINE;
  }
}
